.resume {
  width: 50%;
  padding: 1em;
}
a {
  color: blue;
}
.big-title {
  font-size: 2em;
}
div {
  box-sizing: border-box;
}
.basic-info {
  padding: 0 1em 0 0;
}
.title {
  padding: 1em 0.5em 0.5em 0;
  font-size: 1.3em;
  font-weight: bold;
}
.content {
  padding: 0 0.5em 0em 0;
}
.content-text {
  padding: 0.5em 0.5em 0em 0;
  margin: 0 2em 0 0;
}
.row,.row .content-text {
  display: flex;
}
.text-title {  
  font-weight: bold;
  margin: 0 0.5em 0 0;
}